<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 *ngIf="connected" >Connected!!</h1>

  <div class="padding" *ngIf="!registration">

    <div class="logo">
      <ion-icon name="person-outline" color="primary"></ion-icon>
    </div>

    <ion-item >
      <ion-label position="floating" >Email</ion-label>
      <ion-input  type="mail"  [(ngModel)]="email"></ion-input>
    </ion-item>

    
</ion-content>
