
  .header
  {
      background-color: #2196F3;
   
      padding: 1px;
      text-align: center;
      color: white;
      border-bottom-left-radius: 50px 30px;
      border-bottom-right-radius: 50px 30px;
  
  }
  
  .imageScroll{
    display: flex;
  
    overflow-x: scroll;
    
  }

  .img-box
{
    height: 100px;
    width: 130px;
    border-bottom-left-radius: 15px 10px;
    border-bottom-right-radius: 15px 10px;
  
    overflow: hidden;
}
.border-white 
{
    
    border-bottom-left-radius: 15px 10px;
    border-bottom-right-radius: 15px 10px;
  
    border-top-left-radius: 15px 10px;
    border-top-right-radius: 15px 10px;
  
    width: fit-content;
}

.border-blue 
{
    border: 2px solid #006bbf;
    border-bottom-left-radius: 15px 10px;
    border-bottom-right-radius: 15px 10px;
    border-top-left-radius: 15px 10px;
    border-top-right-radius: 15px 10px;
  
    width: fit-content;
}

.flex 
{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}